.profile-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center;
    flex-direction: column;
  }
  .profile-header {
    width: 100%;
    display: flex;
    max-width: var(--dl-size-size-maxwidth);
    align-items: center;
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .profile-icon {
    width: 24px;
    height: 24px;
  }
  .profile-nav {
    display: flex;
  }
  .profile-button {
    width: var(--dl-size-size-medium);
  }
  .profile-burger-menu {
    display: none;
  }
  .profile-icon02 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .profile-mobile-menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    display: none;
    padding: 32px;
    z-index: 100;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
  }
  .profile-nav1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  .profile-container1 {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dl-space-space-threeunits);
    justify-content: space-between;
  }
  .profile-image {
    height: 2rem;
  }
  .profile-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-icon04 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  .profile-icon06 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .profile-icon08 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
    margin-right: var(--dl-space-space-twounits);
  }
  .profile-icon10 {
    width: var(--dl-size-size-xsmall);
    height: var(--dl-size-size-xsmall);
  }
  @media(max-width: 767px) {
    .profile-header {
      padding-left: var(--dl-space-space-twounits);
      padding-right: var(--dl-space-space-twounits);
    }
    .profile-nav {
      display: none;
    }
    .profile-burger-menu {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  @media(max-width: 479px) {
    .profile-header {
      padding: var(--dl-space-space-unit);
    }
    .profile-mobile-menu {
      padding: 16px;
    }
  }  